/* Global app styles */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200vh;
  width: flex;
  margin-left: 300px;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

/* Message container */
.message-container {
  margin-bottom: 20px;
  font-size: 1.2em;
}

/* Message label and value styling */
.message-label {
  font-weight: bold;
  margin-right: 10px;
}

.message-value {
  color: green;
  font-weight: bold;
}

/* Button styling */
.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: #0056b3;
}

.location-panel {
  max-height: 500px; /* Adjust the height as needed for approximately 30 rows */
  overflow-y: auto;  /* Enable vertical scrolling */
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9; /* Optional: for better visibility */
  height: auto
}

.gameupdates {
  max-height: 500px;
  min-height: 300px; /* Adjust the height as needed for approximately 30 rows */
  overflow-y: auto;  /* Enable vertical scrolling */
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9; /* Optional: for better visibility */
}

.location-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: auto;
  overflow-y: scroll;  /* Enable vertical scrolling */
}

.location-item {
  margin-bottom: 10px;
}
